@media (max-width: 1400px) {
    .header {
        width: 320px;
    }

    .nav {
        width: 320px;
    }

    .main {
        width: 65%;
    }

    .header-2__wrapp {
        .header__widget {
            margin-right: 30px;
        }
    }

    .filter__menu {
        padding-left: 15px;
        padding-right: 15px;
    }
    .filter__menu-select {
        width: 160px;
    }

    .directory__wrapper {
        width: 479px;
    }
    .directory__final-bad {
        width: 235px;
    }
    .directory__final-good {
        width: 180px;
    }

    .directory__row {
        padding: 15px 5px 15px 5px;
    }
}

@media (max-width: 1366px) {
    .department,
    .vacancy,
    .start__wrapp {
        justify-content: space-evenly;
    }

    .department-box,
    .vacancy-box,
    .start__wrapp-box {
        margin-right: 10px;
    }
}
/*-1200px-*/
@media (max-width: 1200px) {
    /*-index-*/
    .header {
        width: 280px;
    }

    .nav {
        width: 280px;
    }

    .header__form {
        width: 320px;
    }

    .header-2__wrapp {
        .header__widget {
            margin-right: 15px;
        }
    }

    .chat-col-2 {
        width: 468px;
    }

    .chat-notif {
        padding: 41px 16px 41px 15px;
    }

    .chat-window-wrapp {
        padding: 35px 15px 41px 15px;
    }
    .filter__menu-wrapp {
        flex-wrap: wrap;
    }
    .filter__menu {
        padding-left: 40px;
        padding-right: 40px;
    }

    .filter__menu-select,
    .filter__menu-input {
        width: 200px;
        margin-bottom: 20px;
    }
    .filter__menu-label {
        top: -10px;
    }
    .filter__menu-btn {
        margin-bottom: 20px;
    }

    .meet {
        width: 750px;
    }

    .meet__box-btn {
        width: 310px;
    }
    .meet__wrapper-box {
        width: 315px;
    }

    .directory__wrapper,
    .directore__final-title {
        width: 435px;
    }

    .main-directory {
        width: 700px;
    }
}

@media (max-width: 1050px) {
    .chat {
        left: 40px;
    }

    .chat-notific-close,
    .chat-close {
        left: 12px;
    }
} /*-992px-*/
@media (max-width: 992px) {
    .deactive + .nav {
        transform: translateY(0);
    }
    .deactive {
        .burger__wrapp {
            display: none;
        }
        .nav-close {
            display: flex;
        }
        .logo {
            z-index: 242234;
            margin-bottom: 0;
        }
    }

    .header {
        width: 100%;
        position: relative;
    }
    .header__user-inner {
        display: none;
    }
    .nav {
        padding: 40px 15px 20px 15px;
        background: url("../../assets/img/back-1.png") no-repeat bottom -100px right -100px,
            url("../../assets/img/back-2.png") no-repeat bottom -100px right -100px,
            url("../../assets/img/back-3.png") no-repeat bottom -100px right -100px, #f5f7fb;
        position: absolute;
        top: 55px;
        right: 0;
        height: 100vh;
        overflow-y: auto;
        z-index: 24234;
        transform: translateY(-300%);
        transition: 0.4s;
    }

    .logo__wrapp {
        background: rgba(0, 0, 0, 0);
    }

    .logo__wrapp {
        margin-bottom: 0;
    }

    .container {
        flex-direction: column;
    }
    .header__form {
        width: 340px;
    }

    .main {
        width: 100%;
    }

    .header-2__wrapp {
        .header__widget {
            margin-right: 15px;
        }
    }

    .chat {
        left: 0;
    }
    .chat-notific-close,
    .chat-close {
        left: auto;
        right: 10px;
        top: 10px;
        border-radius: 10px;
        z-index: 234234234;
    }

    .chat-fon,
    .chat-notific {
        left: 0;
        top: -127px;
    }

    .filter__menu-select,
    .filter__menu-input {
        width: 220px;
        margin-bottom: 20px;
    }

    .meet {
        width: 99vw;
        right: 50%;
        padding: 75px 20px 22px 20px;
        .meet__close {
            left: auto;
            right: 25px;
            top: 25px;
        }
    }
}
/*-768px-*/

@media (max-width: 768px) {
    .header-2__user-menu {
        left: auto;
        right: 0;
        &::after {
            left: auto;
            right: 20px;
            top: -18px;
        }
    }

    .chat {
        flex-direction: column;
    }

    .chat-col,
    .chat-col-2 {
        width: 100%;
        padding-left: 15px;
    }
    .chat__widget {
        padding-top: 30px;
    }
    .chat__unit {
        padding: 0;
    }

    .filter__menu-select,
    .filter__menu-input {
        width: 180px;
        margin-bottom: 20px;
    }

    .meet__wrapper {
        flex-direction: column;
    }
    .meet__wrapper-box-1,
    .meet__wrapper-box {
        width: 100%;
    }
    .meet__form {
        width: 320px;
        margin: 0 auto 20px;
    }

    .meet__emp {
        margin-bottom: 20px;
    }

    .directory__wrapp {
        flex-direction: column;
    }

    .directory__wrapp-inner {
        margin-bottom: 20px;
    }

    .directory__wrapper {
        width: 100%;
    }
}

@media (max-width: 605px) {
    .department-box,
    .vacancy-box,
    .start__wrapp-box {
        margin-right: 0;
    }
}
/*-576px-*/
@media (max-width: 576px) {
    .login-wrapp {
        padding-top: 60px;
    }
    .header__form {
        width: 100%;
        margin-bottom: 15px;
    }
    .header-2 {
        padding: 0 22px;
        flex-direction: column-reverse;
    }

    .header-2__wrapp {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .filter__menu-wrapp:nth-last-child(1) {
        flex-wrap: nowrap;
        align-items: baseline;
        flex-direction: column;
    }

    .table__wrapp {
        width: 80%;
        margin: 0 auto;
    }
    .meet__wrapp {
        width: 80vw;
        overflow: auto;
    }
}

@media (max-width: 500px) {
    .login-wrapp {
        margin: 0 15px;
    }
    .fon__form {
        width: 100%;
        padding: 15px 15px 15px;
    }
    .block__title-title {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .filter__menu-wrapp:nth-child(1) {
        flex-wrap: nowrap;
        flex-direction: column;
        .filter__menu-select,
        .filter__menu-input {
            width: 100%;
        }
    }

    .filter__menu-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        .filter__menu-select {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .filter__menu-inner:nth-last-child(1) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
    }

    .start__wrapp {
        width: 220px;
        margin: 0 auto;
    }
    .filter__menu-label {
        left: -25px;
    }

    .drectore__final-title-2 {
        margin: 0 auto;
        &::after,
        &::before {
            content: "";
            opacity: 0;
        }
    }

    .drectore__final-title-1,
    .drectore__final-title-3 {
        display: none;
    }

    .directory__final-wrapp {
        flex-direction: column;
        width: 100%;
    }

    .directore__final-title {
        width: 100%;
    }
    .directory__final-bad,
    .directory__final-good {
        width: 100%;
        position: relative;
        margin-top: 50px;
        &::before {
            content: "Успешно";
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            color: rgba(55, 73, 87, 0.5);
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            padding-bottom: 10px;
        }
    }
}

@media (max-width: 400px) {
    .department-menu {
        width: 290px;
    }

    .login__form {
        padding-left: 15px;
        padding-right: 15px;
    }
    .table__wrapper {
        width: 200px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px auto 0;
    }

    .table__choice-row {
        margin: 20px auto;
    }
}

@media (max-width: 380px) {
    .meet__form,
    .meet__box-btn {
        width: 100%;
    }

    .meet__today {
        padding-left: 10px;
        padding-right: 10px;
    }
    .meet {
        overflow: hidden;
        padding-left: 3px;
        padding-right: 3px;
    }
    .meet-name {
        width: 198px;
    }
    .meet-date {
        width: 165px;
    }
    .meet-tel {
        width: 159px;
    }
}
