/*-----------menu__burger------------*/
.burger__wrapp {
    width: 36px;
    padding: 9px;
    background: #eef2ff;
    border-radius: 5px;
}
.menu__burger {
    width: 18px;
    height: 18px;
    position: relative;
    top: 50%;
    cursor: pointer;
}

.menu__burger::before,
.menu__burger::after {
    content: "";
    background-color: #374957;
    position: absolute;
    width: 18px;
    height: 1.5px;
    border-radius: 6px;
    left: 0;
}

.menu__burger::before {
    top: 0;
}

.menu__burger-line {
    background-color: #374957;
    position: absolute;
    width: 12px;
    height: 1.5px;
    border-radius: 5px;

    top: 50%;
    left: 9px;
    transform: translate(-50%);
}

.menu__burger::after {
    bottom: 0;
}
