.header__form {
    width: 415px;
    position: relative;
}

.header__input {
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    padding: 14px 20px;
    border: none;

    font-weight: 500;
    font-size: 0.75rem;
    &::placeholder {
        color: rgba(55, 73, 87, 0.2);
    }
}

.header__btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.header-2 {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.allert {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 23px;
    cursor: pointer;
    &::before {
        content: url("../../assets/img/ellips.svg");
        position: absolute;
        right: 1px;
        top: -3px;
    }
}
.header-2__wrapp {
    display: flex;
    align-items: center;
}

.message {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header-2__user {
    display: flex;
    align-items: center;
}

.header__widget {
    display: flex;
    margin-right: 47px;
}

.header__user-wrapp {
    width: 38px;
    height: 38px;
    background: linear-gradient(90deg, #8e2de2 0%, #4a00e0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    margin-right: 12px;
}

.header__user-title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 21px;
    color: #000000;
}

.header__user-span {
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 21px;
}
