.header {
    width: 325px;
    padding-top: 50px;
}

.logo__wrapp {
    background: rgba(255, 255, 255, 0.52);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 28px;
}

.nav__list {
    padding-top: 78px;
}

.nav__list-inner {
    position: relative;
    padding: 27px 0 27px 81px;
    transition: 0.4s;
    &::before {
        content: url("../../assets/img/nav-1.svg");
        padding: 9px;
        background: #ffffff;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 28px;
        transition: 0.4s;
    }

    &:hover {
        background: #fff;
        box-shadow: 50px 38px 102.371px rgba(120, 118, 148, 0.14);
        backdrop-filter: blur(21.5519px);

        border-radius: 5px;
        cursor: pointer;
        &::before {
            content: url("../../assets/img/nav-1-active.svg");
            background: #eef2ff;
            border-radius: 5px;
        }
    }
}

.nav__row-2::before {
    content: url("../../assets/img/nav-2.svg");
}
.nav__row-3::before {
    content: url("../../assets/img/nav-3.svg");
}
.nav__row-4::before {
    content: url("../../assets/img/nav-4.svg");
}
.nav__row-5::before {
    content: url("../../assets/img/nav-5.svg");
}

.nav__row-2:hover::before {
    content: url("../../assets/img/nav-2-active.svg");
}
.nav__row-3:hover::before {
    content: url("../../assets/img/nav-3-active.svg");
}
.nav__row-4:hover::before {
    content: url("../../assets/img/nav-4-active.svg");
}
.nav__row-5:hover::before {
    content: url("../../assets/img/nav-5-active.svg");
}
