.recruit-2__row {
    .col-3 {
        width: 74px;
    }

    .col-4 {
        width: 122px;
    }

    .col-5 {
        width: 122px;
    }

    .col-6 {
        width: 90px;
    }

    .col-7 {
        width: 107px;
    }

    .col-8 {
        width: 110px;
    }

    .col-9 {
        width: 91px;
    }

    .col-10 {
        width: 135px;
    }
}
