<div class="klient">
    <div class="klient__wrapp">
        <div class="klient__wrapp-col">
            <h2 class="block__title-title">
                Клиент
                <span class='klient__id'>ID 72541</span>
            </h2>
        </div>
        <div class="klient__wrapp-col">
            <div class="klient__date">
                06.11.2021
            </div>
            <div class="klient__time">
                11:30 - добавлен
            </div>
        </div>
        <button class="klient-btn">
            Сохранить
        </button>
    </div>
    <div class="klient__inner">
        <div class="klient__inner-col-1">
            <input class="klient__input" type="text" placeholder="ФИО">
            <input class="klient__input" type="text" placeholder="Возраст">
            <input class="klient__input" type="text" placeholder="База">
            <input class="klient__input" type="text" placeholder="Источник">
        </div>
        <div class="klient__inner-col-2">
            <input class="klient__input" type="text" placeholder="Телефон">
            <button class="klient-inner-btn">
                + Добавить телефон
            </button>
        </div>
    </div>
</div>