<div class="block__title">
    <h2 class="block__title-title">
        Список отделов
    </h2>
    <div class="block__wrapp">
        <button class="block__burger">
            <img src="./assets/img/burger.svg" alt="" class="burger-img">
        </button>
        <div class="department-block">
            <button class=" department-block-btn">
                Добавить отдел
            </button>
            <div class="department-menu">
                <input type="text" class="department-input" placeholder="Название">
                <div class="department-select select">
                    <div class="select__header">
                        <span class="select__current">
                            Руководитель
                        </span>
                    </div>
                    <div class="select__body">
                        <div class="select__item">
                            Руководитель
                        </div>
                        <div class="select__item">
                            Руководитель
                        </div>
                        <div class="select__item">
                            Руководитель
                        </div>
                    </div>
                </div>
                <textarea class='department-textarea' placeholder="Описание"></textarea>
                <button class="department-btn">
                    Добавить
                </button>
            </div>
        </div>
    </div>
</div>