<div class="block__title">
    <h2 class="block__title-title">
        Проекты
    </h2>
    <div class="block__wrapp">
        <button class="block__burger">
            <img src="./assets/img/burger.svg" alt="" class="burger-img">
        </button>
        <div class="department-block">
            <button class="department-block-btn">
                Добавить проект
            </button>
            <div class="department-menu">
                <input type="text" class="department-input" placeholder="Название проекта">
                <div class="department-select select">
                    <div class="select__header">
                        <span class="select__current">
                            Пользователь заказчик 1
                        </span>
                    </div>

                    <div class="select__body">
                        <div class="select__item">
                            Пользователь заказчик 1
                        </div>
                        <div class="select__item">
                            Пользователь заказчик 2
                        </div>
                        <div class="select__item">
                            Пользователь заказчик 3
                        </div>
                    </div>

                </div>


                <div class="department-select select">
                    <div class="select__header">
                        <span class="select__current">
                            Активен 1
                        </span>
                    </div>

                    <div class="select__body">
                        <div class="select__item">
                            Активен 1
                        </div>
                        <div class="select__item">
                            Активен 2
                        </div>
                        <div class="select__item">
                            Активен 3
                        </div>
                    </div>
                </div>

                <div class="project__wrapp-title">
                    Направление
                </div>
                <div class="project__wrapp">
                    <label class="project-label">
                        <input type="checkbox" class="project__label-check">
                        <span class="project-label-span">
                            Колл-центр
                        </span>
                    </label>
                    <label class="project-label">
                        <input type="checkbox" class="project__label-check">
                        <span class="project-label-span">
                            Рекрутинг
                        </span>
                    </label>
                </div>
                <button class="department-btn">
                    Добавить
                </button>
            </div>
        </div>
    </div>
</div>