<div class="block__title">
    <h2 class="block__title-title">
        Проекты
    </h2>
    <div class="block__wrapp">
        <button class="block__burger">
            <img src="./assets/img/burger.svg" alt="" class="burger-img">
        </button>
        <div class="department-block">
            <button class=" department-block-btn">
                Добавить проект
            </button>
            <div class="department-menu">
                <input type="text" class="department-input" placeholder="Название проекта">
                <select class="department-select">
                    <option>
                        Пользователь заказчик
                    </option>
                    <option>
                        Пользователь заказчик
                    </option>
                    <option>
                        Пользователь заказчик
                    </option>
                </select>
                <select class="department-select">
                    <option>
                        Активен
                    </option>
                    <option>
                        Активен
                    </option>
                    <option>
                        Активен
                    </option>
                </select>
                <div class="project__wrapp-title">
                    Направление
                </div>
                <div class="project__wrapp">
                    <label class="project-label">
                        <input type="checkbox" class="project__label-check">
                        <span class="project-label-span">
                            Колл-центр
                        </span>
                    </label>
                    <label class="project-label">
                        <input type="checkbox" class="project__label-check">
                        <span class="project-label-span">
                            Рекрутинг
                        </span>
                    </label>
                </div>
                <button class="department-btn">
                    Добавить
                </button>
            </div>
        </div>
    </div>
</div>