<div class="chat-fon">
    <div class="chat">
        <button class="meet__close">
            <img src="./assets/img/meet__close.svg" alt="" class="meet__close-img">
        </button>
        <div class="chat-col">
            <div class="chat-row-1">
                <div class="chat__widget">
                    <div class="message">
                        <img src="./assets/img/mess.svg" alt="" class="message-img">
                    </div>
                    <div class="allert allert__non">
                        <img src="./assets/img/bell.svg" alt="" class="allert-img">
                    </div>
                    <button class="chat-option">
                        <img src="./assets/img/option-chat.png" alt="" class="message-img">
                    </button>
                    <button class="block__btn">
                        Создать
                    </button>
                </div>
            </div>
            <div class="chat__search">
                <input class='search-input' type="search" placeholder="Поиск">
                <button class="search-btn">
                    <img class='search-btn-img' src="./assets/img/search-btn.svg" alt="">
                </button>
            </div>
            <div class="chat-title">
                Сегодня
            </div>
            <div class="unit__chat">
                <div class="chat__unit">
                    <div class="unit__foto">
                        <img class="unit__foto-img" src="./assets/img/chat-1.jpg" alt="">
                    </div>
                    <div class="unit__wrapp">
                        <div class="unit__name">
                            Сорокин Андрей
                        </div>
                        <div class="unit__mess">
                            Привет
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-title">
                Пн, 27 сентября
            </div>
            <div class="unit__chat">
                <div class="chat__unit chat__unit-active">
                    <div class="unit__foto unit__color">
                        Г
                    </div>
                    <div class="unit__wrapp">
                        <div class="unit__name">
                            Грибнова Любовь
                        </div>
                        <div class="unit__mess">
                            Я все поняла, хорошо, сде...
                        </div>
                    </div>
                </div>
                <div class="chat__unit">
                    <div class="unit__foto unit__color-2">
                        Р
                    </div>
                    <div class="unit__wrapp">
                        <div class="unit__name">
                            Раденко Галина
                        </div>
                        <div class="unit__mess">
                            Привет
                        </div>
                    </div>
                </div>
            </div>


            <div class="chat-title">
                Сегодня
            </div>
            <div class="unit__chat">
                <div class="chat__unit">
                    <div class="unit__foto">
                        <img class="unit__foto-img" src="./assets/img/chat-2.jpg" alt="">
                    </div>
                    <div class="unit__wrapp">
                        <div class="unit__name">
                            Сорокина Анна
                        </div>
                        <div class="unit__mess">
                            Привет
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="chat-col-2">
            <div class="chat-notif">
                <div class="chat-notification">
                    Уведомления
                </div>

                <div class="chat-notif-wrapp">
                    <div class="chat-notif-row">
                        <div class="chat__unit">
                            <div class="unit__foto">
                                <img class="unit__foto-img" src="./assets/img/chat-1.jpg" alt="">
                            </div>
                            <div class="unit__wrapp">
                                <div class="unit__name">
                                    Встреча #2436
                                </div>
                                <div class="unit__mess">
                                    Добавлена новая встреча на Тульскую
                                </div>
                            </div>
                        </div>

                        <div class="chat__row-wrapp">
                            <span class="chat__row-span">
                                29 сентября 2021 20:55
                            </span>
                            <button class="directory__row-btn">
                                <img class="directory__btn-img" src="./assets/img/directory-close.svg" alt="">
                            </button>
                        </div>

                    </div>

                    <div class="chat-notif-row">
                        <div class="chat__unit">
                            <div class="unit__foto unit__color-3">
                                K
                            </div>
                            <div class="unit__wrapp">
                                <div class="unit__name">
                                    Сотрудник Кирилова Алена
                                </div>
                                <div class="unit__mess">
                                    Добавлен новый сотрудник
                                </div>
                            </div>
                        </div>

                        <div class="chat__row-wrapp">
                            <span class="chat__row-span">
                                20 сентября 2021 19:40
                            </span>
                            <button class="directory__row-btn">
                                <img class="directory__btn-img" src="./assets/img/directory-close.svg" alt="">
                            </button>
                        </div>

                    </div>

                    <div class="chat-notif-row">
                        <div class="chat__unit">
                            <div class="unit__foto unit__color-3">
                                K
                            </div>
                            <div class="unit__wrapp">
                                <div class="unit__name">
                                    Собеседование #573
                                </div>
                                <div class="unit__mess">
                                    Добавлено новое собеседование
                                </div>
                            </div>
                        </div>

                        <div class="chat__row-wrapp">
                            <span class="chat__row-span">
                                20 сентября 2021 15:10
                            </span>
                            <button class="directory__row-btn">
                                <img class="directory__btn-img" src="./assets/img/directory-close.svg" alt="">
                            </button>
                        </div>

                    </div>

                </div>
            </div>
            <!--./chat-notif-->

            <div class="chat-window chat--active">

                <div class="chat-window-wrapp">
                    <div class="chat__window-title">
                        <div class="chat__unit">
                            <div class="unit__foto unit__color">
                                Г
                            </div>
                            <div class="unit__wrapp">
                                <div class="unit__name">
                                    Грибнова Любовь
                                </div>
                                <div class="unit__mess">
                                    Оператор
                                </div>
                            </div>
                        </div>
                        <button class="chat__window-btn">
                            + Пригласить
                        </button>
                    </div>
                    <div class="chat-message">
                        <div class="chat__window-message">
                            <div class="chat__window-messate-title">
                                Пятница, 12 марта 2021
                            </div>
                        </div>

                        <div class="chat__window-operator">
                            <div class="chat__window-icon unit__color">
                                Г
                            </div>
                            <div class="chat__window-mess">
                                Привет
                            </div>
                            <div class="chat__window-time">
                                17:09
                            </div>
                        </div>

                        <div class="chat__window-message">
                            <div class="chat__window-messate-title">
                                Четверг, 30 сентября 2021
                            </div>
                        </div>

                        <div class="chat__window-client">
                            <div class="chat__window-icon">
                                <img class="chat__window-img" src="./assets/img/chat-1.jpg" alt="">
                            </div>
                            <div class="chat__window-mess">
                                Привет
                            </div>
                            <div class="chat__window-time">
                                17:09
                            </div>
                        </div>
                    </div>
                </div>
                <textarea class='chat-textarea' placeholder="Введите сообщение"></textarea>
            </div>
        </div>

    </div>
</div>