<section class="department">
    <div class="department-box">
        <div class="department-head">
            <h3 class='department-head-titile'>
                КЦ Москва
            </h3>
            <div class="department-head-wrapp">
                <button class="department-head-btn">
                    <img class='department-head-img' src="./assets/img/pen.svg" alt="">
                </button>
                <button class="department-head-btn">
                    <img class='department-head-img' src="./assets/img/plus.svg" alt="">
                </button>
                <button class="department-head-btn">
                    <img class='department-head-img' src="./assets/img/close.svg" alt="">
                </button>
            </div>
        </div>
        <div class="department-body">
            <div class="department-body-title">
                <div class="avatar">
                    Г
                </div>
                <h3 class='department-title-title'>
                    Грибнова Любовь
                </h3>
            </div>
            <div class="department-slaider-title">
                Сотрудники
            </div>
            <div class="department-slaider">

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-1.jpg" alt="" class="avatar-img">
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        Р
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-2.jpg" alt="" class="avatar-img">
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-1.jpg" alt="" class="avatar-img">
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        Р
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-2.jpg" alt="" class="avatar-img">
                    </div>
                </div>

            </div>

            <span class='department-summ'>
                6 сотрудников
            </span>
        </div>
    </div>

    <div class="department-box">
        <div class="department-head">
            <h3 class='department-head-titile'>
                КЦ Владимир
            </h3>
            <div class="department-head-wrapp">
                <button class="department-head-btn">
                    <img class='department-head-img' src="./assets/img/pen.svg" alt="">
                </button>
                <button class="department-head-btn">
                    <img class='department-head-img' src="./assets/img/plus.svg" alt="">
                </button>
                <button class="department-head-btn">
                    <img class='department-head-img' src="./assets/img/close.svg" alt="">
                </button>
            </div>
        </div>
        <div class="department-body">
            <div class="department-body-title">
                <div class="avatar">
                    И
                </div>
                <h3 class='department-title-title'>
                    Иванова Анна
                </h3>
            </div>
            <div class="department-slaider-title">
                Сотрудники
            </div>
            <div class="department-slaider">

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-1.jpg" alt="" class="avatar-img">
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        Р
                    </div>
                </div>
                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-2.jpg" alt="" class="avatar-img">
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-1.jpg" alt="" class="avatar-img">
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        Р
                    </div>
                </div>
                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-2.jpg" alt="" class="avatar-img">
                    </div>
                </div>
            </div>

            <span class='department-summ'>
                2 сотрудника
            </span>
        </div>
    </div>

    <div class="department-box">
        <div class="department-head">
            <h3 class='department-head-titile'>
                Рекрутинг
            </h3>
            <div class="department-head-wrapp">
                <button class="department-head-btn">
                    <img class='department-head-img' src="./assets/img/pen.svg" alt="">
                </button>
                <button class="department-head-btn">
                    <img class='department-head-img' src="./assets/img/plus.svg" alt="">
                </button>
                <button class="department-head-btn">
                    <img class='department-head-img' src="./assets/img/close.svg" alt="">
                </button>
            </div>
        </div>
        <div class="department-body">
            <div class="department-body-title">
                <div class="avatar">
                    И
                </div>
                <h3 class='department-title-title'>
                    Иванова Анна
                </h3>
            </div>
            <div class="department-slaider-title">
                Сотрудники
            </div>
            <div class="department-slaider">

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-1.jpg" alt="" class="avatar-img">
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        Р
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-2.jpg" alt="" class="avatar-img">
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-1.jpg" alt="" class="avatar-img">
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        Р
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-2.jpg" alt="" class="avatar-img">
                    </div>
                </div>
                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-1.jpg" alt="" class="avatar-img">
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        Р
                    </div>
                </div>

                <div class="department-slaider-box">
                    <div class="avatar">
                        <img src="./assets/img/chat-2.jpg" alt="" class="avatar-img">
                    </div>
                </div>


            </div>
            <button class="department-slaider-bnt">
                <img src="./assets/img/slick.svg" alt="">
            </button>
            <span class='department-summ'>
                15 сотрудников
            </span>
        </div>
    </div>
</section>