<section class="directory">
    <div class="directory__title">
        Справочники
    </div>

    <div class="directory__wrapp">
        <div class="directory__wrapp-inner">
            <div class="directore__inner-list direct__list-active">
                Статусы КЦ
            </div>
            <div class="directore__inner-list">
                Статусы рекритинг
            </div>
            <div class="directore__inner-list">
                Типы баз КЦ
            </div>
            <div class="directore__inner-list">
                Источники рекритинг
            </div>
        </div>
        <div class="directory__wrapper">

        </div>


    </div>
</section>