<div class="filter__menu">
    <div class="filter__menu-wrapp">
        <input class='filter__menu-input' type="text" placeholder="Дата">
        <div class="filter__menu-select select">
            <div class="select__header">
                <span class="select__current">
                    Оператор
                </span>
            </div>
            <div class="select__body">
                <div class="select__item">
                    Оператор
                </div>
                <div class="select__item">
                    Оператор
                </div>
                <div class="select__item">
                    Оператор
                </div>
            </div>
        </div>

        <div class="filter__menu-select select">
            <div class="select__header">
                <span class="select__current">
                    Офис
                </span>
            </div>
            <div class="select__body">
                <div class="select__item">
                    Офис
                </div>
                <div class="select__item">
                    Офис
                </div>
                <div class="select__item">
                    Офис
                </div>
            </div>
        </div>

        <div class="filter__menu-select select">
            <div class="select__header">
                <span class="select__current">
                    База
                </span>
            </div>
            <div class="select__body">
                <div class="select__item">
                    База
                </div>
                <div class="select__item">
                    База
                </div>
                <div class="select__item">
                    База
                </div>
            </div>
        </div>

    </div>
    <div class="filter__menu-wrapp">
        <div class="filter__menu-inner">
            <div class="filter__menu-select select">
                <div class="select__header">
                    <span class="select__current">
                        Статусы
                    </span>
                </div>
                <div class="select__body">
                    <div class="select__item">
                        Статусы
                    </div>
                    <div class="select__item">
                        Статусы
                    </div>
                    <div class="select__item">
                        Статусы
                    </div>
                </div>
            </div>
            <label class="filter__menu-label">
                <input class="filter__checkbox" type="checkbox">
                <span class="filter__label-span"></span>
            </label>
        </div>
        <div class="filter__menu-inner">
            <button class="filter__menu-btn filter-btn-1">
                Найти
            </button>
            <button class="filter__menu-btn">
                Сбросить фильтр
            </button>
        </div>
    </div>
</div>