<div class="filter__menu">
    <div class="filter__menu-wrapp">
        <input class='filter__menu-input' type="text" placeholder="Дата">
        <select class="filter__menu-select">
            <option>
                Оператор
            </option>
            <option>
                Оператор
            </option>
            <option>
                Оператор
            </option>
            <option>
                Оператор
            </option>
        </select>
        <select class="filter__menu-select">
            <option>
                Офис
            </option>
            <option>
                Офис
            </option>
            <option>
                Офис
            </option>
            <option>
                Офис
            </option>
        </select>
        <select class="filter__menu-select">
            <option>
                База
            </option>
            <option>
                База
            </option>
            <option>
                База
            </option>
            <option>
                База
            </option>
        </select>
    </div>
    <div class="filter__menu-wrapp">
        <div class="filter__menu-inner">
            <select class="filter__menu-select">
                <option>
                    Статусы
                </option>
                <option>
                    Статусы
                </option>
                <option>
                    Статусы
                </option>
                <option>
                    Статусы
                </option>
            </select>
            <label class="filter__menu-label">
                <input class="filter__checkbox" type="checkbox">
                <span class="filter__label-span"></span>
            </label>
        </div>
        <div class="filter__menu-inner">
            <button class="filter__menu-btn filter-btn-1">
                Найти
            </button>
            <button class="filter__menu-btn">
                Сбросить фильтр
            </button>
        </div>
    </div>
</div>