<section class="header-2">
    <form action="/" class="header__form">
        <input class="header__input" type="search" placeholder="Поиск">
        <button class="header__btn">
            <img src="./assets/img/search.svg" alt="">
        </button>
    </form>
    <div class="header-2__wrapp">
        <div class="header__widget">
            <div class="allert">
                <img src="./assets/img/bell.svg" alt="" class="allert-img">
            </div>
            <div class="message">
                <img src="./assets/img/mess.svg" alt="" class="message-img">
            </div>
        </div>
        <div class="header-2__user">
            <div class="header__user-wrapp">
                И
            </div>
            <div class="header__user-inner">
                <h1 class="header__user-title">
                    Иванов Иван
                </h1>
                <span class='header__user-span'>
                    менеджер
                </span>
            </div>

        </div>
    </div>
</section>