<div class="header">
    <div class="logo__wrapp">
        <div class="logo">
            <img src="./assets/img/logo.png" alt="">
        </div>
        <div class="burger__wrapp">
            <div class="menu__burger">
                <span class='menu__burger-line'></span>
            </div>
        </div>
    </div>

    <nav class='nav'>
        <ul class="nav__list">
            <li class="nav__list-inner nav__row-1">
                Рабочая панель
            </li>
            <li class="nav__list-inner nav__row-2">
                Колл - центр
            </li>
            <li class="nav__list-inner nav__row-3">
                Рекрутинг
            </li>
            <li class="nav__list-inner nav__row-4">
                Сотрудники
            </li>
            <li class="nav__list-inner nav__row-5">
                Настройки
            </li>
        </ul>
    </nav>

</div>