<div class="login">
    <div class="login-wrapp">
        <div class="login__wrapp-title">
            Добро пожаловать!
        </div>
        <form action="/" class="login__form">
            <div class="login__form-title">
                Введите контактные данные<br> для авторизации
            </div>
            <input type="text" class="login__form-input" placeholder="Логин">
            <input type="password" class="login__form-input" placeholder="Пароль">
            <label class="login-label">
                <input class="login-check" type="checkbox">
                <span class="login__label-span">Запомнить меня?</span>
            </label>
            <button class="login-btn">
                Войти
            </button>
        </form>
        <img src="./assets/img/logo.png" alt="" class="login-img">
    </div>
</div>