<section class="meet">
    <button class="meet__close meet-close">
        <img src="./assets/img/meet__close.svg" alt="" class="meet__close-img">
    </button>
    <div class="meet__header">
        <h3 class="meet__header-title">
            Встреча
            <span class="meet__header-span">
                # 1242
            </span>
        </h3>
        <button class="meet__option">
            <img src="./assets/img/nav-5.svg" alt="">
        </button>
    </div>
    <div class="meet__wrapp">
        <div class="meet__wrapp-inner new">
            Новая
        </div>
        <div class="meet__wrapp-inner chime">
            Перезвон
        </div>
        <div class="meet__wrapp-inner confirmation">
            Подтверждена
        </div>
    </div>
    <div class="meet__wrapper">
        <div class="meet__wrapper-box-1">
            <div class="meet__wrapper-title">
                Информация о встрече
            </div>
            <form action="/" class="meet__form">
                <div class="meet__form-inner">
                    <input type="text" class="meet__form-input meet-date" placeholder="27.10.2021">
                    <input type="text" class="meet__form-input meet-time" placeholder="14:40">
                </div>
                <div class="meet__form-inner">
                    <input type="text" class="meet__form-input meet-name" placeholder="Степанова Мария Павловна">
                    <input type="text" class="meet__form-input meet-year" placeholder="34 года">
                </div>
                <div class="meet__form-inner">
                    <input type="tel" class="meet__form-input meet-tel" placeholder="+7 (903) 110-78-24">
                    <select class="meet__form-select meet-select">
                        <option>
                            Рабочий
                        </option>
                        <option>
                            Рабочий
                        </option>
                        <option>
                            Рабочий
                        </option>
                    </select>
                </div>
                <button class="meet__form-btn">
                    Добавить
                </button>
                <select class="meet__form-select">
                    <option>
                        Офис
                    </option>
                    <option>
                        Офис
                    </option>
                    <option>
                        Офис
                    </option>
                </select>
                <select class="meet__form-select">
                    <option>
                        База
                    </option>
                    <option>
                        База
                    </option>
                    <option>
                        База
                    </option>
                </select>
                <textarea class='meet__form-textarea' placeholder="Комментарий"></textarea>
            </form>
            <div class="meet__emp meet--active">
                <div class="meet__emp-wrapp">
                    <div class="meet__emt-wrapp-title">
                        Сотрудник
                    </div>
                    <button class="meet__emp-btn">
                        <img src="./assets/img/pen.svg" alt="" class="meet__emp-img">
                    </button>
                </div>
                <div class="meet__emp-wrapper">
                    <span class='meet__emp-wrapper-span'>
                        И
                    </span>
                    <div class="meet__emp-inner">
                        <div class="meet__emp-subtitle">
                            Ответственный
                        </div>
                        <div class="meet__emp-title">
                            Иванов Иван
                        </div>
                    </div>
                </div>
            </div>
            <div class="meet__change-employee">
                <div class="meet__emp-wrapp">
                    <div class="meet__emt-wrapp-title">
                        Сотрудник
                    </div>
                    <button class="meet__emp-btn">
                        <img src="./assets/img/pen.svg" alt="" class="meet__emp-img">
                    </button>
                </div>
                <select class="meet__form-select meet__change-select">
                    <option>
                        Иванов Иван
                    </option>
                    <option>
                        Иванов Иван
                    </option>
                    <option>
                        Иванов Иван
                    </option>
                </select>
                <button class='meet__change-btn'>
                    Сохранить
                </button>
            </div>
        </div>
        <div class="meet__wrapper-box">
            <button class="meet__box-btn">
                Оставить комментарий
            </button>
            <div class="meet__today">

                <h2 class="meet__wrapp-title">
                    Сегодня
                </h2>
                <div class="meet__today-wrapp">

                    <div class="meet__today-inner">
                        <h3 class="meet__today-title">
                            Статус изменен
                            <span class="meet__titile-time">
                                16:57
                            </span>
                        </h3>
                        <p class="meet__today-text">
                            Новая
                            <span class="meet__today-span">
                                Пришла
                            </span>
                        </p>
                    </div>
                    <div class="meet__today-icon">
                        <img class="meet__today-img" src="./assets/img/meet.jpg" alt="">
                    </div>
                </div>
                <div class="meet__today-wrapp-2">
                    <div class="meet__today-inner">
                        <h3 class="meet__today-title">
                            Исходящий
                            <span class="meet__titile-time">
                                15:10
                            </span>
                        </h3>
                        <p class="meet__today-text">
                            +7 (903) ... .. ..
                        </p>
                        <div class="meet__page">
                            <div class="meet__today-player">
                                <img src="./assets/img/meet-player.png" alt="" class="meet__player-img">
                                <button class="meet__player-btn">
                                    <img class='meet__player-btn-img' src="./assets/img/meet-b.svg" alt="">
                                </button>
                            </div>
                            <div class="meet__plater-time">
                                02:45
                            </div>
                        </div>

                    </div>
                    <div class="meet__today-icon">
                        М
                    </div>
                </div>
            </div>

            <div class="meet__today">

                <h2 class="meet__wrapp-title">
                    1 неделя назад
                </h2>
                <div class="meet__today-wrapp">

                    <div class="meet__today-inner--mess">
                        <h3 class="meet__today-title">
                            Сообщение
                        </h3>
                        <p class="meet__today-text">
                            Шаблон:
                            <span class="meet__mess-span">
                                Тульская
                            </span>
                        </p>
                    </div>
                    <div class="meet__today-icon">
                        <img class="meet__today-img" src="./assets/img/meet.jpg" alt="">
                    </div>
                </div>
                <div class="meet__today-wrapp">
                    <div class="meet__today-inner">
                        <h3 class="meet__today-title">
                            Создана встреча
                            <span class="meet__titile-time">
                                12:38
                            </span>
                        </h3>
                        <p class="meet__today-text">
                            Встреча # 1242
                        </p>
                    </div>
                    <div class="meet__today-icon">
                        М
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>