<section class="employee">
    <div class="panel-sort">
        <button class="sort-btn sort--active">
            Сотрудники
        </button>
        <button class="sort-btn">
            Отделы
        </button>
        <button class="sort-btn">
            Структура компании
        </button>
    </div>
    <div class="block__title">
        <h2 class="block__title-title">
            Список сотрудников
        </h2>
        <div class="block__wrapp">
            <button class="block__burger">
                <img src="./assets/img/burger.svg" alt="" class="burger-img">
            </button>
            <button class="block__btn">
                Добавить сотрудника
            </button>
        </div>
    </div>


    <div class="filter__menu">
        <div class="filter__menu-wrapp">
            <input class='filter__menu-input' type="text" placeholder="Дата">
            <select class="filter__menu-select">
                <option>
                    Оператор
                </option>
                <option>
                    Оператор
                </option>
                <option>
                    Оператор
                </option>
                <option>
                    Оператор
                </option>
            </select>
            <select class="filter__menu-select">
                <option>
                    Офис
                </option>
                <option>
                    Офис
                </option>
                <option>
                    Офис
                </option>
                <option>
                    Офис
                </option>
            </select>
            <select class="filter__menu-select">
                <option>
                    База
                </option>
                <option>
                    База
                </option>
                <option>
                    База
                </option>
                <option>
                    База
                </option>
            </select>
        </div>
        <div class="filter__menu-wrapp">
            <div class="filter__menu-inner">
                <select class="filter__menu-select">
                    <option>
                        Статусы
                    </option>
                    <option>
                        Статусы
                    </option>
                    <option>
                        Статусы
                    </option>
                    <option>
                        Статусы
                    </option>
                </select>
                <label class="filter__menu-label">
                    <input class="filter__checkbox" type="checkbox">
                    <span class="filter__label-span"></span>
                </label>
            </div>
            <div class="filter__menu-inner">
                <button class="filter__menu-btn filter-btn-1">
                    Найти
                </button>
                <button class="filter__menu-btn">
                    Сбросить фильтр
                </button>
            </div>
        </div>
    </div>


    <div class="table__wrapp">
        <div class="table">
            <div class="table__head">
                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/nav-5.svg" alt="">
                        </button>
                    </div>
                    <div class="table__col col-2">
                        Фото
                    </div>
                    <div class="table__col col-3">
                        ФИО
                    </div>
                    <div class="table__col col-4">
                        Телефон
                    </div>
                    <div class="table__col col-5">
                        Отдел
                    </div>
                    <div class="table__col col-6">
                        Должность
                    </div>
                    <div class="table__col col-7">
                        Дата создания
                    </div>

                </div>
            </div>
            <div class="table__body">


                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/burger.svg" alt="">
                        </button>
                        <div class="table__col-menu">
                            <button class='table__menu-btn'>
                                Посмотреть встречу
                            </button>
                            <button class='table__menu-btn'>
                                Редактировать встречу
                            </button>
                            <button class='table__menu-btn'>
                                Удалить встречу
                            </button>
                        </div>
                    </div>
                    <div class="table__col col-2">
                        <img class="employee__row-img" src="./assets/img/img-1.jpg" alt="">
                    </div>
                    <div class="table__col col-3">
                        Степанова Мария
                        <p class='employee__row-online'>в сети</p>
                    </div>
                    <div class="table__col col-4">
                        +7 (903) 110-78-24
                    </div>
                    <div class="table__col col-5">
                    </div>
                    <div class="table__col col-6">
                        Оператор
                    </div>
                    <div class="table__col col-7">
                        13.10.2021 18:00
                    </div>
                </div>

                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/burger.svg" alt="">
                        </button>
                        <div class="table__col-menu">
                            <button class='table__menu-btn'>
                                Посмотреть встречу
                            </button>
                            <button class='table__menu-btn'>
                                Редактировать встречу
                            </button>
                            <button class='table__menu-btn'>
                                Удалить встречу
                            </button>
                        </div>
                    </div>
                    <div class="table__col col-2">
                        <img class="employee__row-img" src="./assets/img/img-2.jpg" alt="">
                    </div>
                    <div class="table__col col-3">
                        Петрушин Максим
                        <p class='employee__row-nonline'>не в сети</p>
                    </div>
                    <div class="table__col col-4">
                        +7 (903) 110-78-24
                    </div>
                    <div class="table__col col-5">
                        КЦ Москва
                    </div>
                    <div class="table__col col-6">
                        Оператор
                    </div>
                    <div class="table__col col-7">
                        13.10.2021 18:00
                    </div>

                </div>

                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/burger.svg" alt="">
                        </button>
                        <div class="table__col-menu">
                            <button class='table__menu-btn'>
                                Посмотреть встречу
                            </button>
                            <button class='table__menu-btn'>
                                Редактировать встречу
                            </button>
                            <button class='table__menu-btn'>
                                Удалить встречу
                            </button>
                        </div>
                    </div>
                    <div class="table__col col-2">
                        <img class="employee__row-img" src="./assets/img/img-1.jpg" alt="">
                    </div>
                    <div class="table__col col-3">
                        Степанова Мария
                        <p class='employee__row-online'>в сети</p>
                    </div>
                    <div class="table__col col-4">
                        +7 (903) 110-78-24
                    </div>
                    <div class="table__col col-5">
                    </div>
                    <div class="table__col col-6">
                        Оператор
                    </div>
                    <div class="table__col col-7">
                        13.10.2021 18:00
                    </div>
                </div>

                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/burger.svg" alt="">
                        </button>
                        <div class="table__col-menu">
                            <button class='table__menu-btn'>
                                Посмотреть встречу
                            </button>
                            <button class='table__menu-btn'>
                                Редактировать встречу
                            </button>
                            <button class='table__menu-btn'>
                                Удалить встречу
                            </button>
                        </div>
                    </div>
                    <div class="table__col col-2">
                        <img class="employee__row-img" src="./assets/img/img-2.jpg" alt="">
                    </div>
                    <div class="table__col col-3">
                        Петрушин Максим
                        <p class='employee__row-nonline'>не в сети</p>
                    </div>
                    <div class="table__col col-4">
                        +7 (903) 110-78-24
                    </div>
                    <div class="table__col col-5">
                        КЦ Москва
                    </div>
                    <div class="table__col col-6">
                        Оператор
                    </div>
                    <div class="table__col col-7">
                        13.10.2021 18:00
                    </div>

                </div>

                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/burger.svg" alt="">
                        </button>
                        <div class="table__col-menu">
                            <button class='table__menu-btn'>
                                Посмотреть встречу
                            </button>
                            <button class='table__menu-btn'>
                                Редактировать встречу
                            </button>
                            <button class='table__menu-btn'>
                                Удалить встречу
                            </button>
                        </div>
                    </div>
                    <div class="table__col col-2">
                        <img class="employee__row-img" src="./assets/img/img-1.jpg" alt="">
                    </div>
                    <div class="table__col col-3">
                        Степанова Мария
                        <p class='employee__row-online'>в сети</p>
                    </div>
                    <div class="table__col col-4">
                        +7 (903) 110-78-24
                    </div>
                    <div class="table__col col-5">
                    </div>
                    <div class="table__col col-6">
                        Оператор
                    </div>
                    <div class="table__col col-7">
                        13.10.2021 18:00
                    </div>
                </div>

                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/burger.svg" alt="">
                        </button>
                        <div class="table__col-menu">
                            <button class='table__menu-btn'>
                                Посмотреть встречу
                            </button>
                            <button class='table__menu-btn'>
                                Редактировать встречу
                            </button>
                            <button class='table__menu-btn'>
                                Удалить встречу
                            </button>
                        </div>
                    </div>
                    <div class="table__col col-2">
                        <img class="employee__row-img" src="./assets/img/img-2.jpg" alt="">
                    </div>
                    <div class="table__col col-3">
                        Петрушин Максим
                        <p class='employee__row-nonline'>не в сети</p>
                    </div>
                    <div class="table__col col-4">
                        +7 (903) 110-78-24
                    </div>
                    <div class="table__col col-5">
                        КЦ Москва
                    </div>
                    <div class="table__col col-6">
                        Оператор
                    </div>
                    <div class="table__col col-7">
                        13.10.2021 18:00
                    </div>

                </div>

                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/burger.svg" alt="">
                        </button>
                        <div class="table__col-menu">
                            <button class='table__menu-btn'>
                                Посмотреть встречу
                            </button>
                            <button class='table__menu-btn'>
                                Редактировать встречу
                            </button>
                            <button class='table__menu-btn'>
                                Удалить встречу
                            </button>
                        </div>
                    </div>
                    <div class="table__col col-2">
                        <img class="employee__row-img" src="./assets/img/img-1.jpg" alt="">
                    </div>
                    <div class="table__col col-3">
                        Степанова Мария
                        <p class='employee__row-online'>в сети</p>
                    </div>
                    <div class="table__col col-4">
                        +7 (903) 110-78-24
                    </div>
                    <div class="table__col col-5">
                    </div>
                    <div class="table__col col-6">
                        Оператор
                    </div>
                    <div class="table__col col-7">
                        13.10.2021 18:00
                    </div>
                </div>

                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/burger.svg" alt="">
                        </button>
                        <div class="table__col-menu">
                            <button class='table__menu-btn'>
                                Посмотреть встречу
                            </button>
                            <button class='table__menu-btn'>
                                Редактировать встречу
                            </button>
                            <button class='table__menu-btn'>
                                Удалить встречу
                            </button>
                        </div>
                    </div>
                    <div class="table__col col-2">
                        <img class="employee__row-img" src="./assets/img/img-2.jpg" alt="">
                    </div>
                    <div class="table__col col-3">
                        Петрушин Максим
                        <p class='employee__row-nonline'>не в сети</p>
                    </div>
                    <div class="table__col col-4">
                        +7 (903) 110-78-24
                    </div>
                    <div class="table__col col-5">
                        КЦ Москва
                    </div>
                    <div class="table__col col-6">
                        Оператор
                    </div>
                    <div class="table__col col-7">
                        13.10.2021 18:00
                    </div>

                </div>

                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/burger.svg" alt="">
                        </button>
                        <div class="table__col-menu">
                            <button class='table__menu-btn'>
                                Посмотреть встречу
                            </button>
                            <button class='table__menu-btn'>
                                Редактировать встречу
                            </button>
                            <button class='table__menu-btn'>
                                Удалить встречу
                            </button>
                        </div>
                    </div>
                    <div class="table__col col-2">
                        <img class="employee__row-img" src="./assets/img/img-1.jpg" alt="">
                    </div>
                    <div class="table__col col-3">
                        Степанова Мария
                        <p class='employee__row-online'>в сети</p>
                    </div>
                    <div class="table__col col-4">
                        +7 (903) 110-78-24
                    </div>
                    <div class="table__col col-5">
                    </div>
                    <div class="table__col col-6">
                        Оператор
                    </div>
                    <div class="table__col col-7">
                        13.10.2021 18:00
                    </div>
                </div>

                <div class="table__row employee__row">
                    <div class="table__col col-1">
                        <button class="table__btn">
                            <img src="./assets/img/burger.svg" alt="">
                        </button>
                        <div class="table__col-menu">
                            <button class='table__menu-btn'>
                                Посмотреть встречу
                            </button>
                            <button class='table__menu-btn'>
                                Редактировать встречу
                            </button>
                            <button class='table__menu-btn'>
                                Удалить встречу
                            </button>
                        </div>
                    </div>
                    <div class="table__col col-2">
                        <img class="employee__row-img" src="./assets/img/img-2.jpg" alt="">
                    </div>
                    <div class="table__col col-3">
                        Петрушин Максим
                        <p class='employee__row-nonline'>не в сети</p>
                    </div>
                    <div class="table__col col-4">
                        +7 (903) 110-78-24
                    </div>
                    <div class="table__col col-5">
                        КЦ Москва
                    </div>
                    <div class="table__col col-6">
                        Оператор
                    </div>
                    <div class="table__col col-7">
                        13.10.2021 18:00
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="table__wrapper">
        <div class="table__wrapper-inner">
            Всего 50
        </div>
        <div class="list__num">
            Страница
            <a href="#" class='list__num-span'>
                1
            </a>
        </div>
        <div class="table__choice-row">
            На странице
            <select class="table__select">
                <option class="table__select-option">
                    10
                </option>
                <option class="table__select-option">
                    10
                </option>
                <option class="table__select-option">
                    10
                </option>
                <option class="table__select-option">
                    10
                </option>
            </select>
        </div>
    </div>
</section>