<section class="recruit">
    <div class="panel-sort">
        <button class="sort-btn">
            Встречи
        </button>
        <button class="sort-btn">
            Контакты
        </button>
        <button class="sort-btn">
            Клиенты
        </button>
        <button class="sort-btn">
            Статистика
        </button>

    </div>
    <div class="block__title ">
        <h2 class="block__title-title">
            Список клиентов
        </h2>
        <div class="block__wrapp">
            <button class="block__burger">
                <img src="./assets/img/burger.svg" alt="" class="burger-img">
            </button>
            <button class="block__btn">
                Добавить клиента
            </button>
        </div>
    </div>

    {{>filter__menu}}
    {{>table-recruit-2}}


    <div class="table__wrapper">
        <div class="table__wrapper-inner">
            Всего 1 507
        </div>
        <div class="list__num">
            Страница
            <a href="#" class='list__num-span'>
                1
            </a>
            <a href="#" class='list__num-span list__num-span-active'>
                2
            </a>
            <a href="#" class='list__num-span'>
                3
            </a>
            <a href="#" class='list__num-span'>
                4
            </a>
            <a href="#" class='list__num-span'>
                5
            </a>
            <a href="#" class='list__num-span'>
                ...
            </a>
            <a href="#" class='list__num-span'>
                420
            </a>
            <a href="#" class='list__num-span'>
                421
            </a>
            <a href="#" class='list__num-span'>
                422
            </a>

        </div>
        <div class="table__choice-row">
            На странице
            <select class="table__select">
                <option class="table__select-option">
                    10
                </option>
                <option class="table__select-option">
                    10
                </option>
                <option class="table__select-option">
                    10
                </option>
                <option class="table__select-option">
                    10
                </option>
            </select>
        </div>
    </div>
</section>