<div class="fon popup__status">

    <form class="fon__form ">
        <button class="close">
            Закрыть
        </button>
        <h3 class="form__title">
            Сменить статус
        </h3>

        <div class="form__select select">
            <div class="select__header">
                <span class="select__current">
                    Статус
                </span>
            </div>
            <div class="select__body">
                <div class="select__item">
                    Статус
                </div>
                <div class="select__item">
                    Статус
                </div>
                <div class="select__item">
                    Статус
                </div>
            </div>
        </div>
        <textarea class='form__textarea' placeholder="Комментарий"></textarea>
        <button class="form-btn " type='submit'>
            Сохранить
        </button>
    </form>
</div>