<div class="fon popup__status">

    <form action="/" class="fon__form ">
        <button class="close">
            Закрыть
        </button>
        <h3 class="form__title">
            Сменить статус
        </h3>
        <select class="form__select">
            <option class="form__option">
                Статус
            </option>
            <option class="form__option">
                Статус
            </option>
            <option class="form__option">
                Статус
            </option>
            <option class="form__option">
                Статус
            </option>
        </select>
        <textarea class='form__textarea' placeholder="Комментарий"></textarea>
        <button class="form-btn " type='submit'>
            Сохранить
        </button>
    </form>
</div>