<div class="fon popup__employee ">

    <form class="fon__form">
        <button class="close">
            Закрыть
        </button>
        <h3 class="form__title">
            Добавить сотрудника
        </h3>
        <input type="text" class="form__input" placeholder="ФИО">
        <input type="tel" class="form__input" placeholder="Телефон">
        <div class="form__select select">
            <div class="select__header">
                <span class="select__current">
                    Роль
                </span>
            </div>
            <div class="select__body">
                <div class="select__item">
                    Роль 1
                </div>
                <div class="select__item">
                    Роль 2
                </div>
                <div class="select__item">
                    Роль 3
                </div>
            </div>
        </div>
        <input type="text" class="form__input " placeholder="Должность">
        <label class='form__label'>
            <input type="checkbox" class="form__checkbox">
            <span class="form__label-text">
                Может авторизоваться
            </span>
        </label>
        <input type="text" class="form__input" placeholder="Логин">
        <input type="password" class="form__input" placeholder="Пароль">
        <button class="form-btn " type='submit'>
            Добавить
        </button>
    </form>
</div>