<div class="fon popup__applicant popup__applicant-active">

    <form action="/" class="fon__form">
        <button class="close">
            Закрыть
        </button>
        <h3 class="form__title">
            Добавить соискателя
        </h3>
        <input type="text" class="form__input" placeholder="ФИО">
        <input type="tel" class="form__input" placeholder="Телефон">
        <input type="text" class="form__input" placeholder="Возраст">
        <select class="form__select">
            <option class="form__option">
                Источник
            </option>
            <option class="form__option">
                Источник
            </option>
            <option class="form__option">
                Источник
            </option>
            <option class="form__option">
                Источник
            </option>
        </select>
        <input type="text" class="form__input" placeholder="Вакансия">
        <button class="form-btn" type='submit'>
            Вакансия
        </button>
    </form>
</div>