<div class="fon popup__client">

    <form class="fon__form">
        <button class="close">
            Закрыть
        </button>
        <h3 class="form__title">
            Добавить клиента
        </h3>
        <input type="text" class="form__input" placeholder="ФИО">
        <input type="tel" class="form__input" placeholder="Телефон">
        <input type="text" class="form__input" placeholder="Возраст">
        <select class="form__select">
            <option class="form__option">
                База
            </option>
            <option class="form__option">
                База
            </option>
            <option class="form__option">
                База
            </option>
            <option class="form__option">
                База
            </option>
        </select>
        <input type="text" class="form__input" placeholder="Источник">
        <button class="form-btn" type='submit'>
            Добавить
        </button>
    </form>
</div>