<div class="fon popup__meeting">
    <div class="popup__meeting-wrapp">
        <form class="fon__form">
            <button class="close">
                Закрыть
            </button>
            <h3 class="form__title">
                Добавить встречу
            </h3>
            <div class="meeting__row">
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        Оператор
                    </div>

                    <div class="meeting__select select">
                        <div class="select__header">
                            <span class="select__current">
                                Абрезина Ирина
                            </span>
                        </div>
                        <div class="select__body">
                            <div class="select__item">
                                Абрезина Ирина
                            </div>
                            <div class="select__item">
                                Абрезина Ирина
                            </div>
                            <div class="select__item">
                                Абрезина Ирина
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        Статус
                    </div>
                    <div class="meeting__select select">
                        <div class="select__header">
                            <span class="select__current">
                                Новая
                            </span>
                        </div>
                        <div class="select__body">
                            <div class="select__item">
                                Новая
                            </div>
                            <div class="select__item">
                                Новая
                            </div>
                            <div class="select__item">
                                Новая
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="meeting__row-2">
                <div class="meeting__row-2-title">
                    Дата и время приема
                </div>
                <input class='meeting-date' type="text" placeholder="дд,мм,гггг">
                <div class="meetign__time-col">
                    <input class='meeting-hour' type="text" placeholder="09">
                    <input class='meeting-min' type="text" placeholder="00">
                </div>
            </div>

            <div class="meeting__row">
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        Телефон
                    </div>
                    <input type="text" class="meeting-input" placeholder="Введите">
                </div>
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        Возраст
                    </div>
                    <input type="text" class="meeting-input" placeholder="Введите">
                </div>
            </div>
            <div class="meeting__row-3">
                <div class="meeting__col-title">
                    ФИО
                </div>
                <input type="text" class="meeting-input" placeholder="Введите">
            </div>
            <div class="meeting__row">
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        Офис
                    </div>
                    <input class="meeting-input" type="text" placeholder="Ростов">
                </div>
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        База
                    </div>
                    <div class="meeting__select select">
                        <div class="select__header">
                            <span class="select__current">
                                Робо
                            </span>
                        </div>
                        <div class="select__body">
                            <div class="select__item">
                                Робот IVR
                            </div>
                            <div class="select__item">
                                Робо
                            </div>
                            <div class="select__item">
                                Лиды
                            </div>
                            <div class="select__item">
                                Холодная
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="meeting__row-3">
                <div class="meeting__col-title">
                    Комментарий маркетинга
                </div>
                <textarea class='meeting-textarea' placeholder="Введите"></textarea>
            </div>

            <button class="form-btn " type='submit'>
                Добавить
            </button>
        </form>
    </div>
</div>