<div class="fon popup__meeting">
    <div class="popup__meeting-wrapp">
        <form class="fon__form">
            <button class="close">
                Закрыть
            </button>
            <h3 class="form__title">
                Добавить встречу
            </h3>
            <div class="meeting__row">
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        Оператор
                    </div>
                    <select class="meeting__select">
                        <option class="meeting__select-option">Абрезина Ирина</option>
                        <option class="meeting__select-option">Абрезина Ирина</option>
                        <option class="meeting__select-option">Абрезина Ирина</option>
                    </select>
                </div>
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        Статус
                    </div>
                    <select class="meeting__select">
                        <option class="meeting__select-option">Новая</option>
                        <option class="meeting__select-option">Новая</option>
                        <option class="meeting__select-option">Новая</option>
                    </select>
                </div>
            </div>
            <div class="meeting__row-2">
                <div class="meeting__row-2-title">
                    Дата и время приема
                </div>
                <input class='meeting-date' type="text" placeholder="дд,мм,гггг">
                <div class="meetign__time-col">
                    <input class='meeting-hour' type="text" placeholder="09">
                    <input class='meeting-min' type="text" placeholder="00">
                </div>
            </div>

            <div class="meeting__row">
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        Телефон
                    </div>
                    <input type="text" class="meeting-input" placeholder="Введите">
                </div>
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        Возраст
                    </div>
                    <input type="text" class="meeting-input" placeholder="Введите">
                </div>
            </div>
            <div class="meeting__row-3">
                <div class="meeting__col-title">
                    ФИО
                </div>
                <input type="text" class="meeting-input" placeholder="Введите">
            </div>
            <div class="meeting__row">
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        Офис
                    </div>
                    <input class="meeting-input" type="text" placeholder="Ростов">
                </div>
                <div class="meeting__col">
                    <div class="meeting__col-title">
                        База
                    </div>
                    <select class="meeting__select">
                        <option class="meeting__select-option">Робот IVR</option>
                        <option class="meeting__select-option">Робо</option>
                        <option class="meeting__select-option">Лиды</option>
                        <option class="meeting__select-option">Холодная</option>
                    </select>
                </div>
            </div>
            <div class="meeting__row-3">
                <div class="meeting__col-title">
                    Комментарий маркетинга
                </div>
                <textarea class='meeting-textarea' placeholder="Введите"></textarea>
            </div>

            <button class="form-btn " type='submit'>
                Добавить
            </button>
        </form>
    </div>
</div>