<section class="start">
    <div class="block__title block__title-start">
        <h2 class="block__title-title">
            Рабочая панель
        </h2>
        <a href="#" class="block__option">
            <img src="./assets/img/nav-5.svg" alt="">
        </a>
    </div>
    <div class="start__wrapp">

        <div class="start__wrapp-box">
            <div class="start__box-inner">
                <h3 class="start__box-title">
                    Встреч
                </h3>
                <a href="#" class="srart__box-link">
                    <img src="./assets/img/menu-dots.svg" alt="">
                </a>
            </div>
            <div class="start__box-wrapp">
                <img src="./assets/img/start__up.png" alt="" class="start__imp-up">
                <div class="start__wrapp-inner">
                    <div class="start__inner-title">
                        243
                    </div>
                    <div class="start__inner-text">
                        Сегодня
                        <span class='start__inner-span'>
                            23%
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="start__wrapp-box">
            <div class="start__box-inner">
                <h3 class="start__box-title">
                    В зачете
                </h3>
                <a href="#" class="srart__box-link">
                    <img src="./assets/img/menu-dots.svg" alt="">
                </a>
            </div>
            <div class="start__box-wrapp">
                <img src="./assets/img/start__up.png" alt="" class="start__imp-up">
                <div class="start__wrapp-inner">
                    <div class="start__inner-title">
                        2403
                    </div>
                    <div class="start__inner-text">
                        Сегодня
                        <span class='start__inner-span'>
                            32%
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="start__wrapp-box">
            <div class="start__box-inner">
                <h3 class="start__box-title">
                    В отмене
                </h3>
                <a href="#" class="srart__box-link">
                    <img src="./assets/img/menu-dots.svg" alt="">
                </a>
            </div>
            <div class="start__box-wrapp">
                <img src="./assets/img/start__up.png" alt="" class="start__imp-up">
                <div class="start__wrapp-inner">
                    <div class="start__inner-title">
                        21
                    </div>
                    <div class="start__inner-text">
                        Сегодня
                        <span class='start__inner-span'>
                            11%
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="start__wrapp-box">
            <div class="start__box-inner">
                <h3 class="start__box-title">
                    Приход
                </h3>
                <a href="#" class="srart__box-link">
                    <img src="./assets/img/menu-dots.svg" alt="">
                </a>
            </div>
            <div class="start__box-wrapp">
                <img src="./assets/img/start__up.png" alt="" class="start__imp-up">
                <div class="start__wrapp-inner">
                    <div class="start__inner-title">
                        343
                    </div>
                    <div class="start__inner-text">
                        Сегодня
                        <span class='start__inner-span'>
                            63%
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="start__wrapp-box">
            <div class="start__box-inner">
                <h3 class="start__box-title">
                    Собеседований
                </h3>
                <a href="#" class="srart__box-link">
                    <img src="./assets/img/menu-dots.svg" alt="">
                </a>
            </div>
            <div class="start__box-wrapp">
                <img src="./assets/img/start__up.png" alt="" class="start__imp-up">
                <div class="start__wrapp-inner">
                    <div class="start__inner-title">
                        73
                    </div>
                    <div class="start__inner-text">
                        Сегодня
                        <span class='start__inner-span'>
                            18%
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="start__wrapp-box">
            <div class="start__box-inner">
                <h3 class="start__box-title">
                    Одобрено
                </h3>
                <a href="#" class="srart__box-link">
                    <img src="./assets/img/menu-dots.svg" alt="">
                </a>
            </div>
            <div class="start__box-wrapp">
                <img src="./assets/img/start__up.png" alt="" class="start__imp-up">
                <div class="start__wrapp-inner">
                    <div class="start__inner-title">
                        243
                    </div>
                    <div class="start__inner-text">
                        Сегодня
                        <span class='start__inner-span'>
                            18%
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="start__wrapp-box">
            <div class="start__box-inner">
                <h3 class="start__box-title">
                    Брак
                </h3>
                <a href="#" class="srart__box-link">
                    <img src="./assets/img/menu-dots.svg" alt="">
                </a>
            </div>
            <div class="start__box-wrapp">
                <img src="./assets/img/start__dawn.png" alt="" class="start__imp-up">
                <div class="start__wrapp-inner">
                    <div class="start__inner-title">
                        23
                    </div>
                    <div class="start__inner-text ">
                        Сегодня
                        <span class='start__inner-span marriage'>
                            12%
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="start__wrapp-box">
            <div class="start__box-inner">
                <h3 class="start__box-title">
                    Обращений
                </h3>
                <a href="#" class="srart__box-link">
                    <img src="./assets/img/menu-dots.svg" alt="">
                </a>
            </div>
            <div class="start__box-wrapp">
                <img src="./assets/img/start__up.png" alt="" class="start__imp-up">
                <div class="start__wrapp-inner">
                    <div class="start__inner-title">
                        733
                    </div>
                    <div class="start__inner-text">
                        Сегодня
                        <span class='start__inner-span'>
                            18%
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>