<div class="table__wrapp">
    <div class="table">
        <div class="table__head">
            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/nav-5.svg" alt="">
                    </button>
                </div>
                <div class="table__col col-2">
                    ФИО
                </div>
                <div class="table__col col-3">
                    Телефон
                </div>
                <div class="table__col col-4">
                    Возраст
                </div>
                <div class="table__col col-5">
                    Тип базы
                </div>
                <div class="table__col col-6">
                    Источник
                </div>
                <div class="table__col col-7">
                    Дата создания
                </div>

            </div>
        </div>
        <div class="table__body">


            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Степанова Мария Сергеевна
                </div>
                <div class="table__col col-3">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-4">
                    28 лет
                </div>
                <div class="table__col col-5">
                    Робот
                </div>
                <div class="table__col col-6">
                    Поставщик 1
                </div>
                <div class="table__col col-7">
                    13.10.2021 18:00
                </div>
            </div>


            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Пирогов Иван Иванович
                </div>
                <div class="table__col col-3">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-4">
                    34 года
                </div>
                <div class="table__col col-5">
                    Холодная
                </div>
                <div class="table__col col-6">

                </div>
                <div class="table__col col-7">
                    13.10.2021 18:00
                </div>
            </div>

            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Степанова Мария Сергеевна
                </div>
                <div class="table__col col-3">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-4">
                    28 лет
                </div>
                <div class="table__col col-5">
                    Робот
                </div>
                <div class="table__col col-6">
                    Поставщик 1
                </div>
                <div class="table__col col-7">
                    13.10.2021 18:00
                </div>
            </div>


            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Пирогов Иван Иванович
                </div>
                <div class="table__col col-3">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-4">
                    34 года
                </div>
                <div class="table__col col-5">
                    Холодная
                </div>
                <div class="table__col col-6">

                </div>
                <div class="table__col col-7">
                    13.10.2021 18:00
                </div>
            </div>

            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Степанова Мария Сергеевна
                </div>
                <div class="table__col col-3">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-4">
                    28 лет
                </div>
                <div class="table__col col-5">
                    Робот
                </div>
                <div class="table__col col-6">
                    Поставщик 1
                </div>
                <div class="table__col col-7">
                    13.10.2021 18:00
                </div>
            </div>


            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Пирогов Иван Иванович
                </div>
                <div class="table__col col-3">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-4">
                    34 года
                </div>
                <div class="table__col col-5">
                    Холодная
                </div>
                <div class="table__col col-6">

                </div>
                <div class="table__col col-7">
                    13.10.2021 18:00
                </div>
            </div>

            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Степанова Мария Сергеевна
                </div>
                <div class="table__col col-3">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-4">
                    28 лет
                </div>
                <div class="table__col col-5">
                    Робот
                </div>
                <div class="table__col col-6">
                    Поставщик 1
                </div>
                <div class="table__col col-7">
                    13.10.2021 18:00
                </div>
            </div>


            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Пирогов Иван Иванович
                </div>
                <div class="table__col col-3">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-4">
                    34 года
                </div>
                <div class="table__col col-5">
                    Холодная
                </div>
                <div class="table__col col-6">

                </div>
                <div class="table__col col-7">
                    13.10.2021 18:00
                </div>
            </div>

            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Степанова Мария Сергеевна
                </div>
                <div class="table__col col-3">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-4">
                    28 лет
                </div>
                <div class="table__col col-5">
                    Робот
                </div>
                <div class="table__col col-6">
                    Поставщик 1
                </div>
                <div class="table__col col-7">
                    13.10.2021 18:00
                </div>
            </div>


            <div class="table__row recruit__row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Пирогов Иван Иванович
                </div>
                <div class="table__col col-3">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-4">
                    34 года
                </div>
                <div class="table__col col-5">
                    Холодная
                </div>
                <div class="table__col col-6">

                </div>
                <div class="table__col col-7">
                    13.10.2021 18:00
                </div>
            </div>


        </div>
    </div>
</div>

<div class="table__wrapper">
    <div class="table__wrapper-inner">
        Всего 1 507
    </div>
    <div class="list__num">
        Страница
        <a href="#" class='list__num-span'>
            1
        </a>
        <a href="#" class='list__num-span list__num-span-active'>
            2
        </a>
        <a href="#" class='list__num-span'>
            3
        </a>
        <a href="#" class='list__num-span'>
            4
        </a>
        <a href="#" class='list__num-span'>
            5
        </a>
        <a href="#" class='list__num-span'>
            ...
        </a>
        <a href="#" class='list__num-span'>
            420
        </a>
        <a href="#" class='list__num-span'>
            421
        </a>
        <a href="#" class='list__num-span'>
            422
        </a>

    </div>
    <div class="table__choice-row">
        На странице
        <div class="table__select select">
            <div class="select__header">
                <span class="select__current">
                    10
                </span>
            </div>
            <div class="select__body">
                <div class="select__item">
                    10
                </div>
                <div class="select__item">
                    10
                </div>
                <div class="select__item">
                    10
                </div>
            </div>
        </div>
    </div>
</div>