<div class="table__wrapp">
    <div class="table">
        <div class="table__head">
            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/nav-5.svg" alt="">
                    </button>
                </div>
                <div class="table__col col-2">
                    Название
                </div>
                <div class="table__col col-3">
                    Пользователь (заказчик)
                </div>
                <div class="table__col col-4">
                    Направление
                </div>
                <div class="table__col col-5">
                    Статус
                </div>

            </div>
        </div>
        <div class="table__body">


            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Ростов
                </div>
                <div class="table__col col-3">
                    <div class="table-avatar">
                        Г
                    </div>
                    Грибнова Любовь
                </div>
                <div class="table__col col-4">
                    Колл-центр
                </div>
                <div class="table__col col-5 table-project-active">
                    Активен
                </div>
            </div>

            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Королев
                </div>
                <div class="table__col col-3">
                    <div class="table-avatar green">
                        И
                    </div>
                    Иванов Иван
                </div>
                <div class="table__col col-4">
                    Рекрутинг
                </div>
                <div class="table__col col-5 table-project-active">
                    Активен
                </div>
            </div>

            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Красные Ворота
                </div>
                <div class="table__col col-3">
                    <div class="table-avatar">
                        Г
                    </div>
                    Грибнова Любовь
                </div>
                <div class="table__col col-4">
                    Колл-центр, Рекрутинг
                </div>
                <div class="table__col col-5 table-project-active">
                    Активен
                </div>
            </div>

            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Королев
                </div>
                <div class="table__col col-3">
                    <div class="table-avatar green">
                        И
                    </div>
                    Иванов Иван
                </div>
                <div class="table__col col-4">
                    Рекрутинг
                </div>
                <div class="table__col col-5">
                    Остановлен
                </div>
            </div>

            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Королев
                </div>
                <div class="table__col col-3">
                    <div class="table-avatar green">
                        И
                    </div>
                    Иванов Иван
                </div>
                <div class="table__col col-4">
                    Рекрутинг
                </div>
                <div class="table__col col-5">
                    Остановлен
                </div>
            </div>

            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Ростов
                </div>
                <div class="table__col col-3">
                    <div class="table-avatar">
                        Г
                    </div>
                    Грибнова Любовь
                </div>
                <div class="table__col col-4">
                    Колл-центр
                </div>
                <div class="table__col col-5 table-project-active">
                    Активен
                </div>
            </div>

            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Королев
                </div>
                <div class="table__col col-3">
                    <div class="table-avatar green">
                        И
                    </div>
                    Иванов Иван
                </div>
                <div class="table__col col-4">
                    Рекрутинг
                </div>
                <div class="table__col col-5 table-project-active">
                    Активен
                </div>
            </div>

            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Красные Ворота
                </div>
                <div class="table__col col-3">
                    <div class="table-avatar">
                        Г
                    </div>
                    Грибнова Любовь
                </div>
                <div class="table__col col-4">
                    Колл-центр, Рекрутинг
                </div>
                <div class="table__col col-5 table-project-active">
                    Активен
                </div>
            </div>

            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Королев
                </div>
                <div class="table__col col-3">
                    <div class="table-avatar green">
                        И
                    </div>
                    Иванов Иван
                </div>
                <div class="table__col col-4">
                    Рекрутинг
                </div>
                <div class="table__col col-5">
                    Остановлен
                </div>
            </div>

            <div class="table__row table-project-row">
                <div class="table__col col-1">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn table__correct'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-2">
                    Королев
                </div>
                <div class="table__col col-3">
                    <div class="table-avatar green">
                        И
                    </div>
                    Иванов Иван
                </div>
                <div class="table__col col-4">
                    Рекрутинг
                </div>
                <div class="table__col col-5">
                    Остановлен
                </div>
            </div>





        </div>
    </div>
</div>