<div class="table__wrapp">
    <div class="table">
        <div class="table__head">
            <div class="table__row">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/nav-5.svg" alt="">
                    </button>
                </div>
                <div class="table__col col-3">
                    Дата
                </div>
                <div class="table__col col-4">
                    Клиент
                </div>
                <div class="table__col col-5">
                    Телефон
                </div>
                <div class="table__col col-6">
                    Офис
                </div>
                <div class="table__col col-7">
                    База
                </div>
                <div class="table__col col-8">
                    Оператор
                </div>
                <div class="table__col col-9">
                    Статус
                </div>
                <div class="table__col col-10">
                    Комменатрий
                </div>
                <div class="table__col col-11">
                    Дата создания
                </div>
            </div>
        </div>
        <div class="table__body">


            <div class="table__row">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

            <div class="table__row">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

            <div class="table__row">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

            <div class="table__row table__row-checked">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" checked class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

            <div class="table__row">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

            <div class="table__row">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

            <div class="table__row">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

            <div class="table__row">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

            <div class="table__row table__row-checked">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" checked class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

            <div class="table__row">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

            <div class="table__row">
                <div class="table__col col-1">
                    <label class='table__label'>
                        <input type="checkbox" class="table__checkbox">
                    </label>
                </div>
                <div class="table__col col-2">
                    <button class="table__btn">
                        <img src="./assets/img/burger.svg" alt="">
                    </button>
                    <div class="table__col-menu">
                        <button class='table__menu-btn'>
                            Посмотреть встречу
                        </button>
                        <button class='table__menu-btn'>
                            Редактировать встречу
                        </button>
                        <button class='table__menu-btn'>
                            Удалить встречу
                        </button>
                    </div>
                </div>
                <div class="table__col col-3">
                    13.10.2021 18:00
                </div>
                <div class="table__col col-4">
                    Степанова Мария
                    Павловна, 47
                </div>
                <div class="table__col col-5">
                    +7 (903) 110-78-24
                </div>
                <div class="table__col col-6">
                    Красные ворота
                </div>
                <div class="table__col col-7">
                    Холодная
                </div>
                <div class="table__col col-8">
                    Грибанова
                    Любовь
                </div>
                <div class="table__col col-9">
                    Перезвон
                </div>
                <div class="table__col col-10">

                </div>
                <div class="table__col col-1l">
                    13.10.2021
                </div>
            </div>

        </div>
    </div>
</div>