<section class="vacancy">
    <div class="vacancy-box">
        <div class="vacancy-head">
            <h3 class="vacancy__head-title">
                Москва
            </h3>
            <a href="#" class="srart__box-link">
                <img src="./assets/img/menu-dots.svg" alt="">
            </a>
        </div>
        <div class="vacancy-body">
            PHP - разработчик
        </div>
        <div class="vacancy-status--open">
            Открыта
        </div>
    </div>

    <div class="vacancy-box">
        <div class="vacancy-head">
            <h3 class="vacancy__head-title">
                Ростов на Дону
            </h3>
            <a href="#" class="srart__box-link">
                <img src="./assets/img/menu-dots.svg" alt="">
            </a>
        </div>
        <div class="vacancy-body">
            Програмист
        </div>

        <div class="vacancy-status--open">
            Открыта
        </div>
    </div>


    <div class="vacancy-box">
        <div class="vacancy-head">
            <h3 class="vacancy__head-title">
                Москва
            </h3>
            <a href="#" class="srart__box-link">
                <img src="./assets/img/menu-dots.svg" alt="">
            </a>
        </div>
        <div class="vacancy-body">
            Оператор
        </div>
        <div class="vacancy-status--close">
            Закрыта
        </div>
    </div>

    <div class="vacancy-box">
        <div class="vacancy-head">
            <h3 class="vacancy__head-title">
                Тула
            </h3>
            <a href="#" class="srart__box-link">
                <img src="./assets/img/menu-dots.svg" alt="">
            </a>
        </div>
        <div class="vacancy-body">
            Оператор
        </div>
        <div class="vacancy-status--close">
            Закрыта
        </div>
    </div>

    <div class="vacancy-box">
        <div class="vacancy-head">
            <h3 class="vacancy__head-title">
                Ростов на Дону
            </h3>
            <a href="#" class="srart__box-link">
                <img src="./assets/img/menu-dots.svg" alt="">
            </a>
        </div>
        <div class="vacancy-body">
            Програмист
        </div>
        <div class="vacancy-status--open">
            Открыта
        </div>
    </div>

    <div class="vacancy-box">
        <div class="vacancy-head">
            <h3 class="vacancy__head-title">
                Москва
            </h3>
            <a href="#" class="srart__box-link">
                <img src="./assets/img/menu-dots.svg" alt="">
            </a>
        </div>
        <div class="vacancy-body">
            Оператор
        </div>
        <div class="vacancy-status--temporary">
            Временно приостановлена
        </div>
    </div>
</section>